<div class="container-fluid text-center" style="background-color: whitesmoke;">
  <div class="row">
      <div class="col-12 text-center" style="margin-bottom: 5%;">
          <h2 style="font-size: 1.5vw; color:firebrick; margin-top: 3%"> WE ARE CLOSE TO YOU ON</h2>
          <img class="rounded mx-auto d-block" src="./../../assets/title _line_category_1@1x.png">
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <img class="rounded float-left" src="./../../assets/mobile_phones@1x.png" width="80%">
      </div>
      <div class=" col-6">

          <div class="row">
              <div class="col-12">
                  <p style="font-size: 0.8vw; color:gray; margin-top:10%; margin-bottom: 10%">Polish hurry
                      and technopiles...Three, Two,
                      One...Fire!<br> Our app is available on your smartphone! You can also make an appoint
                      ou our mobile site</p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                  <img class="rounded mx-auto d-block" src="./../../assets/ic_available_app_store_norml@1x.png" width="100%"
                      height="100%">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                  <img class="rounded mx-auto d-block" src="./../../assets/ic_available_google_play_normal@1x.png" width="100%"
                      height="100%">
              </div>
          </div>
          <div class="row">
              <div class="col-12 text-center">
                  <button type="button" class="btn btn-outline-secondary" style="color:white; background-color:firebrick; margin-bottom:5%; margin-top:3% ">I
                      RESERVE</button>
              </div>
          </div>


      </div>
  </div>


</div>