<div class="container-fluid text-center foot" style=" padding-top: 3%; padding-bottom: 2%;">

  <h2 style="font-size: 1.2vw; color: white;"> SUBSCRIBE TO OUR NEWSLETTER</h2>
      <p style="font-size: 1vw; color: white; margin-bottom: 3%"> stay informed about us, news and events</p>
      <!-- Footer -->
      <footer class="page-footer font-small special-color-dark pt-4">

          <!-- Footer Elements -->
          <div class="container" style="margin-bottom:5%;">

              <!--Grid row-->
              <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-1">

                  </div>

                  <!--Grid column-->
                  <div class="col-lg-8 col-md-8 col-sm-10">

                      <form class="input-group">
                          <input type="text" class="form-control form-control-sm" placeholder="Your email"
                              aria-label="Your email" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                              <button class="btn btn-sm btn-outline-white" type="button" style="background-color:black;">
                                  <span style="color:white;">Send</span></button>
                          </div>
                      </form>

                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-1">

                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

          </div>

          <ul class="nav justify-content-center" style="margin-top: 5%; margin-bottom: 3%;">
              <li class="nav-item">
                  <a class="nav-link a" href="#" style="color:white;">OUR SERVICE</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="color:white;" href="#">OFFERS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="color:white;" href="#">MY ACCOUNT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " style="color:white;" href="#">PRO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " style="color:white;" href="#">CONTACT US</a>
              </li>
          </ul>

          <div class="d-inline-block " style="margin-right: 5%; margin-left: 5%;">
              <img class="rounded d-inline-block " src="./../../assets/ic_facebook@2x.png">
          </div>
          <div class="d-inline-block " style="margin-right: 5%; margin-left: 5%;">
              <img class="rounded d-inline-block" src="./../../assets/ic_twitter@2x.png">
          </div>
          <div class="d-inline-block " style="margin-right: 5%; margin-left: 5%;">
              <img class="rounded d-inline" src="./../../assets/ic_youtube@2x.png">
          </div>



      </footer>
