
  <div class="container-fluid text-center entete">

      <img class="img-fluid mx-auto d-block" width="15%" height="auto" src="./../../assets/logo_slider_home@2x.png">
      <div class="container-fluid">

          <nav class="navbar navbar-expand-sm navbar-light bg-faded text-center mynav">
              <div class="container">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                      data-target="#navbar10" style="margin-left: 40%; border-color: white;">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse" id="navbar10">
                      <ul class="navbar-nav nav-fill w-100" style="color:white;">
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">HOME</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">OUR SERVICE</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">OFFERS</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">MY ACCOUNT</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">PRO</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">CONTACT US</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" style="color:white; font-size: 1vw;">PL</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
          <div class=row>
              <div class="col-lg col-md-12 col-sm-12 col-12 d-sm-none d-md-block d-sm-block d-none separation">
              </div>
          </div>



          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-2">

              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-8">

                  <h1 style=" font-size: 1.5vw; color: white; margin-top: 10%;"> PAMPER YOURSELF PRETTY </h1>
                  <p style=" font-size:1vw; margin-top: 5%; margin-bottom: 5%;"> Treat yourself to one of our
                      signature service. Our beleoved beauty expends will wow you brows, get you glawin and so
                      much more. You'll leave looking and feeling more gorgeous than before</p>


              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-2">

              </div>
          </div>

          <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-4 col-4">

              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-4 btnres">

                  <p style=" font-size: 1vw; color: white; margin-bottom: 1%"> I RESERVE </p>


              </div>
              <div class="col-lg-5 col-md-5 col-sm-4 col-4">

              </div>
          </div>


          <img class="img-responsive mx-auto d-block logoimg  " style="margin-top: 5%; " src="./../../assets/ic_scroll@2x.png">

      </div>

