<div class="row">
  <div class="col-12 text-center" style="margin-bottom: 5%;">
      <h2 style="font-size: 1.5vw; color:firebrick; margin-top: 3%"> HOW IT WORKS?</h2>
      <img class="rounded mx-auto d-block" src="./../../assets/title _line_category_1@1x.png">
  </div>
</div>


<div class="container-fluid text-center ">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">

          <img class="rounded mx-auto d-block" src="./../../assets/ic_booking@1x.png">
          <h3 style="color:gray; margin-top: 3%"> Booking</h3>
          <p style="font-size: 0.8vw; color:gray;">Payment payment <br>payment payment<br>payment payment </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
          <img class="rounded mx-auto d-block" src="./../../assets/ic_payment@1x.png">
          <h3 style="color:gray; margin-top: 3%"> Payment</h3>
          <p style="font-size: 0.8vw; color:gray;">Payment payment <br>payment payment<br>payment payment </p>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
          <img class="rounded mx-auto d-block" src="./../../assets/ic_meeting@1x.png">
          <h3 style="color:gray; margin-top: 3%"> Meeting</h3>
          <p style="font-size: 0.8vw; color:gray;">Payment payment <br>payment payment<br>payment payment </p>
      </div>

  </div>

  <button type="button" class="btn btn-outline-secondary" style="color:white; background-color:firebrick; margin-bottom:5%; margin-top:3% ">I
      RESERVE</button>

</div>

