<section>
  <div class="container-fluid text-center section" style="background-color:whitesmoke;">

      <a href="" style="text-decoration: none;">
          <h3 style="color:firebrick; margin-bottom: 0%;"> Explore our service</h3>
      </a>
      <a href="#"> <img class="img-fluid mx-auto d-block" src="./../../assets/title _line_category_1@1x.png"> </a>

      <div class="row align-items-center" style="margin-top:10%;">
          <div class="col-1 align-content-center">
              <a class="" href="#myCarousel" role="button" data-slide="prev"> <img class="rounded d-block" src="./../../assets/arrow_left_actif@1x.png">

              </a>
          </div>
          <div class="col-10">
              <div class="container-fluid">

                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner row w-100 mx-auto" id="carouselContainer">

                          
                        
                         
                         <script src="fichier2.js"></script>



                      </div>


                  </div>
              </div>

          </div>
          <div class="col-1 ">
              <a class="" href="#myCarousel" role="button" data-slide="next"> <img class=" rounded mx-auto d-block"
                      src="./../../assets/arrow_right_actif@1x.png">

              </a>
          </div>
      </div>

      <a href="#" class="btn btn-outline-secondary mybtn" style="margin-top:10%;">Explore all</a>



  </div>
</section>

